.signUpBox {
  width: 350px;
  height: 480px;
  background-color: rgba(247, 247, 247, 0.86);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 6px -6px 10px #d2edfc, -6px 6px 10px #d2edfc;
  border-radius: 16px;
  margin-top: 100px;
}

.title {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin-bottom: 50px;
}

.anova {
  color: #155fc2;
}
.labs {
  padding-left: 4px;
}

.logo {
  width: 30%;
  height: auto;
  padding-bottom: 5px;
  padding-bottom: 8px;
}
